<button
    id='{{id}}'
    type='{{type}}'
    class='button {{class}} {{#if size}}button__size--{{size}}{{/if}} {{#if round}}round{{/if}}'
    {{#if disabled}}
        disabled
    {{/if}}
>
    {{text}}
</button>